<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaolan.plugin.asr" >
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <meta-data android:name="com.baidu.speech.APP_ID"
            android:value="19694132" />
        <meta-data
            android:name="com.baidu.speech.API_KEY"
            android:value="HxfwwcUSpDfq8GkPtneXO03s" />
        <meta-data
            android:name="com.baidu.speech.SECRET_KEY"
            android:value="31CBkIPbuScTFSE4HEsTTDbYLw5yccD6" />
    </application>
</manifest>
